.gallery {
    margin: 150px 0px 100px 0px;

    &__title {
    }


    &__body {
    }


    &__row {
        
    }


    &__group {
        display: flex;
        flex-wrap: wrap;
    }


    &__item {
        flex: 1 1 25%;
        padding: 10px 10px;
        align-self: center;
        @media (max-width:1000px) {
            padding: 5px 5px;
            flex: 1 1 33%;
        }
        @media (max-width:700px) {
            flex: 1 1 50%;
        }
    }

    &__photo {
        img {
            width: 100%;
        }
    }

    &__BW-photo {
        img {
            width: 100%;
        }
    }

    &__BW-a {
        color: #040404;
        &:hover {
            color: #564655;
        }
    }
    @media (max-width: 767px) {
        & {
            margin: 90px 0px 40px 0px;
        }
    }    
} 

